<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from www.wrappixel.com/demos/admin-templates/monster-admin/horizontal/pages-error-404.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 17 Dec 2019 14:13:51 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
    <title>Error 404</title>
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/colors/green.css" id="theme" rel="stylesheet">
</head>

<body class="fix-header card-no-border fix-sidebar">
    <section id="wrapper" class="error-page">
        <div class="error-box">
            <div class="error-body text-center">
                <h1 class="text-info">400</h1>
                <h3 class="text-uppercase">Error !</h3>
                <p class="text-muted mt-4 mb-4">THERE SEEMS TO BE AN ERROR RESOLVING YOUR REQUEST.</p>
                <a href="/admin/" class="btn btn-info btn-rounded waves-effect waves-light mb-5">Back to home</a></div>
            <footer class="footer text-center">2019 © CodeBucket Solutions.</footer>
        </div>
    </section>
    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/bootstrap/js/popper.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/waves.js"></script>
</body>

</html>