<% include ../partials/header %> <% include ../partials/sidebar %>

<div class="page-wrapper">
	<div class="container-fluid">
		<% include ../partials/message %>
		<div class="row page-titles">
			<div class="col-md-6 col-8 align-self-center">
				<h3 class="text-themecolor mb-0 mt-0">Dashboard</h3>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="javascript:void(0)">Operations</a></li>
					<li class="breadcrumb-item active">Add City</li>
				</ol>
			</div>
		</div>
		<div class="col-md-12">
			<div class="card">
				<div class="card-body pb-0">
					<div class="row">
						<div class="p-6 col-md-6">
							<form
								class="form-horizontal"
								style="margin-left: 125px"
								method="POST"
								action="/admin/addGps"
							>
								<div class="row">
									<div class="col-md-6">
										<h5 class="mt-4 mb-2">Service Id</h5>
										<input
											type="text"
											name="serviceId"
											id="serviceId"
											class="form-control col-12 mb-3 mr-2"
											placeholder="Enter serviceId"
											autocomplete="off"
										/>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<h5 class="mt-4 mb-2">Name</h5>
										<input
											type="text"
											name="name"
											id="name"
											class="form-control col-12 mb-3 mr-2"
											placeholder="Enter name"
											autocomplete="off"
										/>
									</div>
								</div>
								<br />
								<button
									type="submit"
									style="margin-left: 250px"
									class="btn waves-effect waves-light btn-rounded btn-info"
								>
									ADD
								</button>
							</form>
						</div>
						<div class="p-4">
							<table
								id="datatable"
								class="display table table-hover table-striped table-bordered"
								cellspacing="0"
								width="100%"
							>
								<thead>
									<tr>
										<th>Service Id</th>
										<th>Name</th>
									</tr>
								</thead>
								<tbody>
									<% for( let i = 0; i < gps.length; i++ ) { %>
									<tr>
										<td><%= gps[i].serviceId %></td>
										<td><%= gps[i].name %></td>
									</tr>
									<% } %>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% include ../partials/footer %>

<script>
	$(function () {
		$(".select2").select2();
		$("#datatable").DataTable({
			scrollY: 400,
		});
	});
</script>
