<% include ../partials/header %> <% include ../partials/sidebar %>

<div class="page-wrapper">
	<div class="container-fluid">
		<% include ../partials/message %>
		<div class="row page-titles">
			<div class="col-md-6 col-8 align-self-center">
				<h3 class="text-themecolor mb-0 mt-0">Dashboard</h3>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="javascript:void(0)">Operations</a></li>
					<li class="breadcrumb-item active">Invoice List</li>
				</ol>
			</div>
		</div>
		<div class="col-md-12">
			<div class="card">
				<div class="card-body pb-0">
					<div class="row">
						<div class="col-12">
							<table id="datatable" class="display table table-hover table-striped table-bordered" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th>Booking Id</th>
										<th>Client Name</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<% for( let i = 0; i < invoice.length; i++ ) { %>
									<tr>
										<td><%= invoice[i].load_id %></td>
										<td><%= invoice[i].name %></td>
										<td>
											<a href="/admin/invoiceEdit/<%= invoice[i].load_id %>/<%= invoice[i].trip_id %>">Edit</a>
										</td>
									</tr>
									<% } %>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer">© 2020 Road Express by CodeBuckets.in</footer>
	</div>
</div>

<% include ../partials/footer %>

<script>
	$(function () {
		$("#datatable").DataTable({
			scrollY: 600,
		});
	});
</script>
