<% include ../partials/header %> <% include ../partials/sidebar %>

<div class="page-wrapper">
	<div class="container-fluid">
		<div class="row page-titles">
			<div class="col-md-6 col-8 align-self-center">
				<h3 class="text-themecolor mb-0 mt-0">Dashboard</h3>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="javascript:void(0)">Operations</a></li>
					<li class="breadcrumb-item active">Placement Sheet</li>
				</ol>
			</div>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-12">
					<% include ../partials/message %>
					<div class="card">
						<div class="card-body pb-0">
							<h2>Vehicles</h2>
							<form action="/admin/vehicleIn" method="post" enctype="multipart/form-data">
								<input type="file" name="csv" />
								<button type="submit">Submit</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% include ../partials/footer %>

<script src="/js/moment.js"></script>
